
<nav class="navbar fixed-top" style="background-color: #e3f2fd;">
  <ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="work()">HOME</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/level0" routerLinkActive="active" (click)="work()">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/level1" routerLinkActive="active" (click)="work()">Repositories</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/level2" routerLinkActive="active" (click)="work()">Fav List</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Followers</a>
        </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Following</a>
    </li>

  </ul>
  
</nav>
<br><br>

  <br>
  <div >
  <input class="form-control" type="text" placeholder="Search Repository" [(ngModel)]="word"  style="width:95%">
  <button (click)="random(word)">Click!</button></div>

  <!-- Search form -->
<!-- <input  type="text" placeholder="Search" aria-label="Search"> -->
<div *ngIf="displayname ; else elseblock">
    <router-outlet></router-outlet>
</div>


<ng-template #elseblock>
<div class="container">
    <div class="row">
        <div class="col-sm-12" *ngFor="let view of another.items">
            <div class="card" style="height:150px;"  >
                <div class="card-body">
                    <h5 class="card-title" style="color: blue;" > ID :{{view.id}}</h5>
                    <h5 class="card-title" > <a href="{{view.clone_url}}" target="_blank" style="color:grey;">Click Here to follow link</a></h5>
                  
                  </div>
                    <!-- <div class="card-body">
                     <button class="btn btn-primary" style="float: right">star</button>
                    </div> -->
            </div>  
         </div>
        </div>
    </div>
  </ng-template>


 



  