.blucolor{
    color:#0366d6;
}
.padtop{
    padding-top: 20px;
}
.imgcss{
    width:230px;
    height:250px;
    float: left;
    margin-right: 10px;
}
.lfloat{
    float:left;
}
.cenalig{
text-align:center;
}